@use "../../styles/font";

.date {
  color: var(--color-text-muted);
  font: 400 14px/1 var(--font-sans);
  margin: 0;
}

.meals {
  margin-bottom: 16px;

  li {
    font: 500 16px/1.4 var(--font-sans);
    letter-spacing: font.inter-tracking(16);
    margin-bottom: 8px;

    @media (min-width: 480px) {
      font-size: 18px;
      letter-spacing: font.inter-tracking(18);
    }
  }
}

.day {
  border-bottom: 1px solid var(--color-outline);
  max-width: 960px;
  padding: 24px 0;
}

.toolbar {
  align-items: center;
  display: flex;

  button {
    background-color: transparent;
    border: 0;
    border-radius: 6px;
    color: var(--color-on-background);
    cursor: pointer;
    padding: 4px;
    transition: all 0.1s;

    &:hover {
      background-color: var(--surface-elevation-1);
    }

    &:active {
      background-color: var(--surface-elevation-2);
      transform: scale(0.9);
    }

    svg {
      display: block;
      height: 24px;
      width: 24px;
    }
  }
}

.cursor {
  align-items: center;
  display: flex;
  margin-left: 8px;

  @media (min-width: 480px) {
    margin-left: 16px;
  }
}

.month {
  font: 500 16px/1 var(--font-sans);
  letter-spacing: font.inter-tracking(16);
  margin: 0;

  @media (min-width: 480px) {
    font-size: 20px;
    letter-spacing: font.inter-tracking(20);
  }
}

.week {
  background-color: var(--color-neutral-container);
  border-radius: 3px;
  display: inline-block;
  font: 500 12px/1 var(--font-sans);
  letter-spacing: font.inter-tracking(12);
  margin-left: 12px;
  padding: 4px;
}

.spinner {
  margin-left: auto;

  @media (min-width: 480px) {
    margin-left: 16px;
  }
}

.empty {
  align-items: center;
  background-color: var(--cmp-empty-background);
  border: 1px solid var(--color-outline);
  border-radius: 12px;
  color: var(--color-text-muted);
  display: flex;
  font: 400 14px/1 var(--font-sans);
  justify-content: center;
  letter-spacing: font.inter-tracking(14);
  margin-top: 24px;
  min-height: 300px;
  padding: 24px;
  text-align: center;
}
