.days {
  --list-y-gap: 24px;

  > li {
    max-width: 960px;
  }
}

.meals {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;

  li {
    font: 500 18px/1.4 var(--font-sans);
    margin-bottom: 8px;
    letter-spacing: -0.014em;
  }
}

.date {
  font: 400 14px/1 var(--font-sans);
  margin: 0;
  color: var(--text-tertiary);
  text-transform: capitalize;
}

.gone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 128px 0;

  p {
    color: var(--text-tertiary);
    font: 400 16px/1 var(--font-sans);
    margin-top: 32px;

    @media (min-width: 480px) {
      font-size: 20px;
      letter-spacing: -0.017em;
    }
  }
}

.ascii {
  color: var(--accents-2);
  font-size: min(max(16px, 10vw), 96px);
}
