.search {
  align-items: center;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-color);
  border-radius: var(--rounded-sm);
  display: flex;
  margin-top: 64px;
  transition: border 0.1s;

  .icon {
    height: 16px;
    margin: 8px 12px;
    width: 16px;
  }

  input {
    background: transparent;
    border: 0;
    color: var(--text-primary);
    flex: 1;
    font: 400 14px/1 var(--font-sans);
    outline: none;
    padding: 8px 0;
  }

  input:disabled {
    cursor: not-allowed;
  }

  &.initializing {
    cursor: not-allowed;
  }

  &.focused {
    // box-shadow: var(--shadow-md);
    border-color: var(--text-primary);
  }
}

.results {
  color: var(--text-secondary);
  margin-top: 24px;
}

.count {
  font-size: 13px;
  margin-bottom: 24px;
}
