@use "../../styles/font";

.root {
  h2 {
    font: 600 24px/1 var(--font-sans);
    letter-spacing: font.inter-tracking(24);
    margin-block: 0 16px;
  }

  ol {
    
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    @media (max-width: 767px) {
      flex-wrap: nowrap;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      padding: 0 var(--fade);
    }
  }
}

.wrapper {
  --fade: var(--page-gutter);

  @media (max-width: 767px) {
    margin: 0 calc(-1 * var(--page-gutter));
    position: relative;

    &::before {
      background-image: linear-gradient(to right, var(--bg-primary) 0%, var(--transparent) var(--fade), var(--transparent) calc(100% - var(--fade)), var(--bg-primary) 100%);
      content: "";
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
}

.item {
  flex: 0 0 300px;

  &:not(:last-child) {
    margin-right: 16px;

    @media (min-width: 768px) {
      margin-bottom: 16px;
      margin-right: 0;
    }
  }

  @media (min-width: 768px) {
    flex-grow: 1;
    flex-shrink: 1;
  }

  a {
    background-color: var(--bg-primary);
    border: 1px solid var(--accents-4);
    border-radius: 12px;
    display: block;
    height: 100%;
    padding: 12px;
    transition: background-color 0.1s;

    &:hover {
      background-color: var(--accents-2);
    }

    &:focus {
      background-color: var(--accents-3);
    }
  }
  
  h3 {
    font: 500 18px/1 var(--font-sans);
    letter-spacing: font.inter-tracking(18);
    margin-block: 0 8px;
  }

  ul {
    li {
      margin-left: 16px;
      position: relative;

      &::before {
        color: var(--accents-5);
        content: "–";
        display: inline-block;
        left: -15px;
        position: absolute;
      }
      
      &:not(:last-child) {
        margin-block-end: 8px;
      }
    }
  }
}

.meta {
  color: var(--accents-7);
  font: 400 14px/1.25 var(--font-sans);
  letter-spacing: font.inter-tracking(14);
}

.note {
  display: inline-block;
  margin-block-start: 8px;
}
