.recent {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.floating {
  --x: 12px;
  --y: 0;
  align-items: center;
  background-color: var(--text-primary);
  border: 0;
  border: 1px solid var(--text-primary);
  border-radius: 50%;
  box-shadow: border-box;
  color: var(--bg-primary);
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  opacity: 0;
  outline: none;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(var(--x), var(--y));
  transition: all 0.15s;
  width: 32px;
  
  &:hover,
  &:focus {
    background-color: var(--bg-primary);
    border-color: var(--border-color);
    color: var(--text-primary);
  }

  &:focus {
    background-color: var(--accents-2);
  }

  svg {
    height: 16px;
    width: 16px;
  }
}

.wrapper:hover .floating,
.floating:focus {
  --y: -12px;

  opacity: 1;
  pointer-events: initial;
}

.heading {
  margin: 0.5em 0;
}

.empty {
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: var(--rounded-md);
  display: flex;
  height: 200px;
  justify-content: center;
  padding: 16px;
}
