@use "../../styles/font";

.searchBox {
  align-items: center;
  background-color: var(--cmp-search-background);
  border-radius: 12px;
  display: flex;
  margin-bottom: 32px;
  transition: background-color 0.1s;
  
  &.focused {
    background-color: var(--cmp-search-background-focused);
  }
  
  svg {
    color: var(--cmp-search-icon);
    margin-inline: 8px;
    width: 14px;
  }
  
  input {
    background: transparent;
    border: 0;
    color: var(--color-on-background);
    font: 500 14px/1 var(--font-sans);
    letter-spacing: font.inter-tracking(14);
    outline: none !important;
    padding-block: 12px;
    padding-inline: 0;
    width: 100%;

    &::placeholder {
      color: var(--cmp-search-placeholder);
    }
  }
}

.hit {
  --bg: transparent;
  border-radius: 6px;

  display: flex;
  padding: 8px 0;
  position: relative;
  
  &::before {
    background-color: var(--bg);
    border-radius: 6px;
    bottom: 0;
    content: "";
    left: -8px;
    position: absolute;
    right: -8px;
    top: 0;
    transition: background-color 0.1s;
    z-index: -1;
  }

  &:hover {
    --bg: var(--surface-elevation-1);
  }

  &:focus {
    --bg: var(--surface-elevation-2);
    outline: none;
  }

  h3 {
    font: 400 18px/1 var(--font-sans);
    margin-block: 0 4px;

    em {
      background-color: var(--color-emphasis);
      border-radius: 3px;
      font-style: normal;
    }
  }
}

.hitContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hitMeta {
  color: var(--color-text-muted);
  font: 400 14px/1.25 var(--font-sans);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
