@use "../../styles/font";
@use "../../styles/mixins";

.updatedAt {
  --bg: var(--color-primary-container);
  --fg: var(--color-primary);

  align-items: center;
  border-radius: 9999px;
  color: var(--fg);
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  padding: 0 12px;

  &:not(.skeleton) {
    background-color: var(--bg);
  }

  &.never {
    --bg: var(--color-warning-container);
    --fg: var(--color-warning);
  }

  svg {
    height: 16px;
    width: 16px;
  }

  span {
    font: 500 14px/1 var(--font-sans);
    letter-spacing: font.inter-tracking(14);
    margin-left: 6px;
  }
}

.skeleton {
  composes: skeleton-bg from "../skeleton/Skeleton.module.scss";
  max-width: 100%;
  width: 20em;
}
