@use "sass:map";
@use "sass:color";
@use "sass:list";

$tones: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 99, 100;

@function tonal-palette($key) {
  $out: ();

  @each $tone in $tones {
    $color: color.change($key, $lightness: $tone * 1%);
    $out: map.set($out, $tone, $color);
  }

  @return $out;
}

$elevation-weights: 5%, 8%, 11%, 12%, 14%;

@function surface-elevations($surface, $overlay) {
  $out: ();

  @each $weight in $elevation-weights {
    $out: list.append($out, color.mix($overlay, $surface, $weight));
  }

  @return $out;
}

@mixin surface-elevation-vars($surface, $overlay) {
  $colors: surface-elevations($surface, $overlay);

  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);

    --surface-elevation-#{$i}: #{$color};
  }
}

$palette: (
  neutral: tonal-palette(#000),
  primary: tonal-palette(#0400ff),
  secondary: tonal-palette(#3432b8),
  tertiary: tonal-palette(#d1352a),
  error: tonal-palette(#f44336),
  warning: tonal-palette(#f7a829),
);

$primary: map.get($palette, "primary", 40);

@each $name, $tones in $palette {
  :root {
    @each $tone, $color in $tones {
      --palette-#{$name}#{$tone}: #{$color};
    }
    
    --color-#{$name}: var(--palette-#{$name}40);
    --color-#{$name}-container: var(--palette-#{$name}90);
  }

  .dark {
    --color-#{$name}: var(--palette-#{$name}80);
    --color-#{$name}-container: var(--palette-#{$name}20);
  }
}

:root {
  --color-background: var(--palette-neutral99);
  --color-on-background: var(--palette-neutral10);
  --color-outline: var(--palette-neutral80);

  --color-text-muted: var(--palette-neutral50);

  --color-emphasis: var(--palette-secondary90);

  --cmp-blockquote-accent: var(--palette-neutral70);
  --cmp-code-background: var(--palette-neutral90);
  --cmp-li-bullet: var(--palette-neutral70);

  --cmp-search-background: var(--palette-neutral95);
  --cmp-search-background-focused: var(--palette-neutral90);
  --cmp-search-placeholder: var(--palette-neutral40);
  --cmp-search-icon: var(--palette-neutral60);

  --cmp-empty-background: var(--palette-neutral95);

  --cmp-navbar-indicator: var(--palette-neutral90);

  --cmp-page-progress: var(--palette-primary60);

  --cmp-skeleton-background: var(--palette-neutral90);
  --cmp-skeleton-foreground: var(--palette-neutral95);

  --cmp-spinner-background: var(--palette-neutral80);
  --cmp-spinner-foreground: var(--palette-neutral50);

  $surface: map.get($palette, "neutral", 99);

  @include surface-elevation-vars($surface, $primary);
}

.dark {
  --color-background: var(--palette-neutral10);
  --color-on-background: var(--palette-neutral90);
  --color-outline: var(--palette-neutral30);

  --color-text-muted: var(--palette-neutral60);

  --color-emphasis: var(--palette-secondary30);

  --cmp-blockquote-accent: var(--palette-neutral30);
  --cmp-code-background: var(--palette-neutral20);
  --cmp-li-bullet: var(--palette-neutral30);

  --cmp-search-background: var(--palette-neutral20);
  --cmp-search-background-focused: var(--palette-neutral30);
  --cmp-search-placeholder: var(--palette-neutral70);
  --cmp-search-icon: var(--palette-neutral70);

  --cmp-empty-background: var(--palette-neutral20);

  --cmp-navbar-indicator: var(--palette-neutral20);

  --cmp-page-progress: var(--palette-primary60);

  --cmp-skeleton-background: var(--palette-neutral20);
  --cmp-skeleton-foreground: var(--palette-neutral30);

  --cmp-spinner-background: var(--palette-neutral30);
  --cmp-spinner-foreground: var(--palette-neutral50);

  $surface: map.get($palette, "neutral", 10);
  $primary: map.get($palette, "primary", 40);

  @include surface-elevation-vars($surface, $primary);
}
