.danger {
  --bg-primary: var(--bg-danger);
  --text-primary: var(--text-danger);
  --text-secondary: var(--text-danger);
  --text-tertiary: var(--text-danger);
  --border-color: var(--border-danger);
  --button-bg: var(--text-danger);
}
