@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --page-gutter: 16px;
  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", var(--font-sans);
  --font-mono: "JetBrains Mono", monospace;
  --bg-primary: #fff;
  --text-primary: #000;
  --accents-1: #fafafa;
  --accents-2: #f2f2f2;
  --accents-3: #eaeaea;
  --accents-4: #ddd;
  --accents-5: #aaa;
  --accents-6: #888;
  --accents-7: #666;
  --accents-8: #444;
  --accents-9: #333;
  --accents-10: #111;
  --skeleton-bg: var(--accents-2);
  --skeleton-fg: var(--accents-1);
  --success: #48e069;
  --danger: #e00;
  --warning: #f7a829;
  --brand: hsl(239, 83%, 63%);
  --link-color: #06c;

  @media (min-width: 480px) {
    --page-gutter: 32px;
  }
}

.dark {
  --bg-primary: #111;
  --text-primary: #fff;
  --accents-10: #fafafa;
  --accents-9: #eaeaea;
  --accents-8: #999;
  --accents-7: #888;
  --accents-6: #777;
  --accents-5: #666;
  --accents-4: #555;
  --accents-3: #444;
  --accents-2: #333;
  --accents-1: #222;
  --skeleton-bg: var(--accents-2);
  --skeleton-fg: var(--accents-3);
  --link-color: #007fff;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-sans);
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
