.heading {
  color: var(--text-primary);
  font: 500 32px/1.1 var(--font-display);
  letter-spacing: -0.05em;
  margin: 32px 0;
  max-width: 640px;

  @media (min-width: 480px) {
    font-size: 48px;
  }

  @media (min-width: 768px) {
    font-size: 56px;
  }
}
