.alerts {
  background-color: var(--bg-alert);
  font: 400 16px/1.25 var(--font-sans);
  overflow: hidden;
  padding: 0 var(--page-gutter);
}

.alert {
  &:not(:last-child) {
    border-bottom: 1px solid var(--text-primary);
  }
}
