.hero {
  composes: dark from "../../styles/dark.scss";
  background-color: var(--bg-primary);
  background-image: linear-gradient(120deg, #292759 0%, #000 min(70%, 1000px));
  color: var(--text-primary);
}
