.nav {
  height: 64px;
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--border-color);
  padding: 0 var(--page-gutter);
  display: flex;
  align-items: center;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
}

.item {
  a {
    display: inline-block;
    padding: 12px;
    border-radius: 9999px;
    font: 500 14px/16px var(--font-sans);
    transition: background-color 0.1s;

    &:hover {
      background-color: var(--accents-2);
    }
  }
}

.logo {
  font: 500 24px/1 var(--font-display);
  margin-right: 32px;
  letter-spacing: -0.01em;
}
