@use "../../styles/font";

.nav {
  --navbar-height: 64px;
  --item-spacing: 12px;

  height: var(--navbar-height);
}

.horizontal {
  align-items: center;
  display: flex;
  height: var(--navbar-height);
  margin: 0;
  padding: 0;
}
