@keyframes skeleton {
  0% {
    background-position: calc(-100vw - var(--offset-left, 0px)) 0;
  }

  100% {
    background-position: calc(100vw - var(--offset-left, 0px)) 0;
  }
}

.skeleton-bg {
  animation: skeleton 1.5s ease-in-out infinite;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  background-color: var(--skeleton-bg);
  background-image: linear-gradient(
    270deg,
    var(--skeleton-bg),
    var(--skeleton-fg),
    var(--skeleton-bg)
  );
}

.skeleton {
  composes: skeleton-bg;
  line-height: 1;
  display: inline-block;
  border-radius: var(--rounded-lg);
  width: 100%;
  max-width: 100%;
}
