.tile {
  display: block;
  box-shadow: 0 0 0 1px var(--border-color);
  border-radius: var(--rounded-md);
  padding: 20px;
  transition: all 0.1s;
  color: var(--text-secondary);
  background-color: var(--bg-primary);

  &:hover, &:focus {
    box-shadow: var(--shadow-sm);
    transform: translateY(-2px);
  }

  &:focus {
    background-color: var(--accents-2);
    outline: none;
  }
}

.subheading {
  color: var(--text-secondary);
  font: 700 12px/1 var(--font-display);
  letter-spacing: 0.03em;
  margin: 0 0 6px;
  text-transform: uppercase;
}

.heading {
  color: var(--text-primary);
  font: 500 24px/1.1 var(--font-display);
  margin: 0 0 12px;
}
