@use "../../styles/font";

.hero {
  margin-block: 64px;
  text-align: center;

  @media (min-width: 768px) {
    margin-block: 128px;
  }

  h1 {
    font-size: max(48px, 6vw);
    line-height: 1.25;
    font-weight: 800;
    letter-spacing: -0.022em;
    margin-block: 48px;
    
    em {
      padding-inline: 0.3ch;
      font-style: normal;
      background-color: rgba($color: red, $alpha: 0.1);
      color: red;
      border-radius: 0.2em;
    }
  }

  p {
    font: 400 20px/1.5 var(--font-sans);
    letter-spacing: font.inter-tracking(20);
    margin: 0;
    line-height: 1.5;
    color: var(--color-text-muted);
  }
}
