@use "../../styles/font";

.text {
  margin-block: 64px;
  max-width: 700px;

  @media (min-width: 768px) {
    margin-block: 128px;
  }
}

.heading {
  font-size: 56px;
  font-weight: 500;
  letter-spacing: font.inter-tracking(56);
  line-height: 64px;
  line-height: 1;
  margin-block: 0.5em;

  @media (min-width: 768px) {
    font-size: 96px;
    letter-spacing: font.inter-tracking(96);
  }
}

.description {
  font: 400 20px/1.5 var(--font-sans);
  letter-spacing: font.inter-tracking(20);
  margin: 0;
}

.note {
  color: var(--color-text-muted);
  font: 400 12px/1 var(--font-sans);
  letter-spacing: font.inter-tracking(12);
  margin-block: 64px 0;
}
