@use "../styles/font";

.overlay {
  align-items: center;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

.modal {
  align-items: center;
  align-items: center;
  background-color: var(--color-surface);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  text-align: center;
  width: 100%;

  .main {
    margin: auto 0;
    padding: var(--page-gutter);
  }

  h2 {
    font: 500 48px/1.1 var(--font-sans);
    letter-spacing: font.inter-tracking(48);
    margin: 0;
    margin-block-end: 0.5em;
  }
  
  @media (min-width: 480px) {
    border-radius: 24px;
    height: auto;
    margin: var(--page-gutter);
    max-height: calc(100vh - 2 * var(--page-gutter));
    width: 70ch;

    .main {
      margin: 0;
    }

    h2 {
      font-size: 64px;
      letter-spacing: font.inter-tracking(64);
    }
  }

  p {
    font: 400 20px/1.5 var(--font-sans);
    letter-spacing: font.inter-tracking(20);
    margin-block: 0 0.5em;
  }

  button {
    background-color: transparent;
    border: 0;
    border-radius: 12px;
    color: var(--color-primary);
    cursor: pointer;
    font: 500 16px/1 var(--font-sans);
    height: 40px;
    letter-spacing: font.inter-tracking(16);
    transition: background-color 0.1s;

    &:hover {
      background-color: var(--surface-elevation-3);
    }
  }

  .note {
    color: var(--color-text-muted);
    font: 400 12px/1.5 var(--font-sans);
    letter-spacing: font.inter-tracking(12);
    margin: 0 auto;
    margin-top: 64px;
    max-width: 60ch;
    padding: var(--page-gutter);
    padding-top: 0;
  }
  
}

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
  margin-top: 24px;
  width: 100%;
}

.frame {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;

  iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
