.spinner {
  animation: spin 1s ease-in-out infinite;
  border: 2px solid var(--cmp-spinner-background);
  border-radius: 100%;
  border-top-color: var(--cmp-spinner-foreground);
  height: var(--size, 20px);
  width: var(--size, 20px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
