@use "../../styles/font";

.description {
  color: var(--accents-10);
  font: 500 20px/24px var(--font-sans);
  letter-spacing: font.inter-tracking(20);
  margin: 24px 0;

  @media (min-width: 480px) {
    font-size: 24px;
    letter-spacing: font.inter-tracking(24);
    line-height: 28px;
  }
}

.byline {
  color: var(--accents-6);
  font: 500 13px/16px var(--font-sans);
  letter-spacing: font.inter-tracking(13);
  margin: 16px 0;
}
