@use "../../styles/font";

.narrow,
.prose > :not(.wide) {
  margin-left: auto;
  margin-right: auto;
  max-width: 576px;

  @media (min-width: 1024px) {
    max-width: 640px;
  }
}

.proseContainer {
  margin: 0 auto;
  max-width: 692px;
  padding: 0 var(--page-gutter);

  @media (min-width: 1024px) {
    max-width: 980px;
  }
}

.prose {
  composes: proseContainer;

  p {
    font: 400 16px/1.5 var(--font-sans);
    letter-spacing: font.inter-tracking(16);
    margin-block: 0 32px;
  }

  hr {
    border: 0;
    border-top: 1px solid var(--accents-4);
    margin-block: 32px;
  }

  a {
    color: var(--link-color);
    font-weight: 500;
    
    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border-left: 4px solid var(--accents-4);
    font-style: italic;
    margin-block-end: 32px;
    padding: 0;
    padding-inline-start: 16px;
  }

  ul,
  ol {
    margin-block-end: 32px;
    padding-inline-start: 24px;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-bottom: 10px;
  }

  ul li::before {
    color: var(--accents-4);
    content: "–";
    display: inline-block;
    margin-left: -15px;
    position: absolute;
  }

  code {
    background-color: var(--accents-3);
    border-radius: 3px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9em;
    padding-block: 3px;
    padding-inline: 3px;
  }

  h2 {
    font: 500 24px/1 var(--font-sans);
    letter-spacing: font.inter-tracking(24);
    margin-block: 32px 0;
  }

  h3 {
    font: 500 20px/1 var(--font-sans);
    letter-spacing: font.inter-tracking(20);
    margin-block: 32px 0;
  }

  h4 {
    font: 600 16px/1 var(--font-sans);
    letter-spacing: font.inter-tracking(16);
    margin-block: 32px 0;
  }

  h5 {
    font: 700 14px/1 var(--font-sans);
    letter-spacing: font.inter-tracking(14);
    margin-block: 32px 0;
  }

  h6 {
    font: 700 12px/1 var(--font-sans);
    letter-spacing: font.inter-tracking(12);
    margin-block: 32px 0;
  }
}

.media {
  margin-block: 48px;

  .mediaContent {
    margin: 0 calc(-1 * var(--page-gutter));
    
    @media (min-width: 690px) {
      border-radius: 12px;
      overflow: hidden;
    }
  }

  figcaption {
    color: var(--accents-7);
    font: 600 12px/16px var(--font-sans);
    letter-spacing: font.inter-tracking(12);
    margin-top: 16px;
  }
}
