@mixin brand-alpha($name, $light, $dark) {
	--#{$name}-light: hsla(
		var(--brand-hue) var(--brand-saturation) var(--brand-lightness) / #{$light}
	);
	--#{$name}-dark: hsla(
		var(--brand-hue) calc(var(--brand-saturation) / 2) var(--brand-lightness) / #{$dark}
	);

	--#{$name}: var(--#{$name}-light);

	@media (prefers-color-scheme: dark) {
		--#{$name}: var(--#{$name}-dark);
	}
}

:root {
	--font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, "Helvetica Neue", sans-serif;
	--font-mono: monospace;

	--page-gutter: 1rem;
	--header-height: 4rem;
	--content-width: 1440px;

	--brand-hue: 230;
	--brand-saturation: 75%;
	--brand-lightness: 50%;

	--error-hue: 34;

	@include brand-alpha("brand", 1, 1);
	@include brand-alpha("brand-transparent", 0.2, 0.1);
	@include brand-alpha("brand-transparent-active", 0.25, 0.15);

	--text0-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
	--text0-muted-light: hsl(var(--brand-hue) 10% 50%);
	--surface0-light: hsl(var(--brand-hue) 25% 97%);
	--surface1-light: hsl(var(--brand-hue) 25% 95%);
	--surface1-transparent-light: hsla(var(--brand-hue) 25% 95% / 0);
	--outline-light: hsl(var(--brand-hue) 25% 85%);

	--surface0-error-light: hsl(var(--error-hue), 96%, 82%);
	--text0-error-light: hsl(var(--error-hue), 96%, 30%);

	--theme-hover-light: hsl(var(--brand-hue) var(--brand-saturation) 45%);
	--theme-active-light: hsl(var(--brand-hue) 75% 40%);
	--on-theme-light: hsl(var(--brand-hue) 90% 98%);

	--text0-dark: hsl(var(--brand-hue) 15% 85%);
	--text0-muted-dark: hsl(var(--brand-hue) 5% 50%);
	--surface0-dark: hsl(var(--brand-hue) 10% 10%);
	--surface1-dark: hsl(var(--brand-hue) 10% 13%);
	--surface1-transparent-dark: hsla(var(--brand-hue) 10% 13% / 0);
	--outline-dark: hsl(var(--brand-hue) 10% 30%);

	--surface0-error-dark: hsl(var(--error-hue), 50%, 12%);
	--text0-error-dark: hsl(var(--error-hue), 96%, 30%);

	--theme-hover-dark: hsl(var(--brand-hue) 50% 65%);
	--theme-active-dark: hsl(var(--brand-hue) 75% 70%);
	--on-theme-dark: hsl(var(--brand-hue) 90% 5%);

	--text0: var(--text0-light);
	--text0-muted: var(--text0-muted-light);
	--surface0: var(--surface0-light);
	--surface1: var(--surface1-light);
	--surface1-transparent: var(--surface1-transparent-light);
	--outline: var(--outline-light);

	--surface0-error: var(--surface0-error-light);
	--text0-error: var(--text0-error-light);

	--theme-hover: var(--theme-hover-light);
	--theme-active: var(--theme-active-light);
	--on-theme: var(--on-theme-light);

	@media (prefers-color-scheme: dark) {
		--text0: var(--text0-dark);
		--text0-muted: var(--text0-muted-dark);
		--surface0: var(--surface0-dark);
		--surface1: var(--surface1-dark);
		--surface1-transparent: var(--surface1-transparent-dark);
		--outline: var(--outline-dark);

		--surface0-error: var(--surface0-error-dark);
		--text0-error: var(--text0-error-dark);

		--theme-hover: var(--theme-hover-dark);
		--theme-active: var(--theme-active-dark);
		--on-theme: var(--on-theme-dark);
	}

	@media (min-width: 480px) {
		--page-gutter: 1.5rem;
	}

	font-family: var(--font-sans);
	background-color: var(--surface0);
	color: var(--text0);
}

body {
	margin: 0;
}

a {
	color: var(--brand);
	font-weight: 500;

	&:hover,
	&:focus {
		color: var(--theme-hover);
	}

	&:active {
		color: var(--theme-active);
	}

	&:focus {
		outline: var(--theme-hover) solid 2px;
	}
}

code {
	font-family: var(--font-mono);
	padding-inline: 0.4em;
	padding-block: 0.2em;
	border-radius: 0.25rem;
	background-color: var(--surface1);
}
